html, body{
  background-color: #333;
  pading: 0;
  marging: 0;
}


body {
  background-color: #272343;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quiz{
  background-color: #e3f6f5;
  width: 30rem;
  padding: 4rem;
  text-align: center;
}

h1 {
  color: #57636e;
  font-size: 3rem;
  text-align: center;
  padding: 2px 0;

}

h2 {
  color: #57636e;
  font-size: 2rem;
  text-align: center;
  padding: 2px 0;

}

#question {
  font-size: 1.7rem;
  color: #5a6772;
}

.button {
  background-color: #34a3a3;
  color: white;
  width: 250px;
  font-size: 20px;
  border-radius: 0.3rem;
  padding: 10px 20px;
  margin: 10px 40px 10px;
  outline: 0;
}

.button-logout{
  background-color: #ef233c;
  width: 125px;
  border-radius: 1rem;
}


.button:hover {
  cursor: pointer;
  background: #57636e;
}

.button-logout:hover {
  cursor: pointer;
  background: #57636e;
}

.progress {
  font-size: 20px;
}


.form-style {
   margin: 0 auto; /* Centramos el formulario */
   width: 90%;   /* Sin ancho no podemos centrar el formulario */
   padding: 2px; /* separamos los bordes del form del resto de elementos */
   border-radius: 10px; /* Redondeamos los bordes del form */
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: 

   
}

.style_input{
    background-color: #cce3de;
    height: 2rem;
    width:70%;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 0.5rem;
    border: none;
  

}
